node_modules/
dist/
build/
.next/
*.log
.env
.env.local
.env.*.local
.DS_Store
coverage/
.vscode/
.idea/
*.tgz
*.tar.gz
storybook-static/
.cache/
*.pid
*.seed
*.pid.lock
.nyc_output/
.cache/
.parcel-cache/
.turbo/
.mastra